@charset "UTF-8";

*{
  box-sizing: border-box;
}

/* フォントサイズの設定 */
@function rem($px){
  @return ($px/16) *1rem;
}

/* リセットCSS */
body,h1,h2,h3,h4,h5,p,ul,li,ol,dl,dt,dd,figure,input,textarea {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 100%;
  list-style: none;
	border-radius: 0;
}

input[type="text"],
input[type="submit"],
input[type="button"]{
  -webkit-appearance: none;
}

a { 
  color: inherit;
  text-decoration: none;
}

img{
  max-width:100%;
  vertical-align: bottom;
}

/* 色の設定 */
$textColor: #333;
$textColorB: #808080;
$accentColor: #c41a30;

/* 枠 */
@mixin border{
  border: 5px solid #fff;
  border-radius: 8px;
}

/* サービスのタイトル */
.h3-underLine{
  &::after{
    position: absolute;
    content: " ";
    display: block;
    border-bottom: solid 3px $accentColor;
    bottom: -3px;
    width: 30%;
  }
}

/* ------------------------------------ */
/* 共通部分 */
/* ------------------------------------ */
body {
  font-size: calc(0.875rem + ((1vw - 3.75px) * 0.2424));
  line-height: 1.5;
  letter-spacing: 0.15em;
  color: $textColor;
  background-color: #000;
  z-index: 1;
  position: relative;
  font-family: 'Noto Sans JP', sans-serif;
}

.inner{
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  padding: 0 4%;
}

section{
  padding: 70px 0 100px;
  position:  relative;
}

.pc-wrapper{
  .contents-wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
}

/* セクションの見出し */
.section-heading{
  margin-bottom: 70px;
  letter-spacing: 0.15em;
  text-align: center;
  position: relative;
  border-top: solid 5px #000;
  border-bottom: solid 5px #000;
  color: #000;
  padding: 0.5em;
  font-size: calc(2rem + ((1vw - 3.75px) * 1.1034));
  line-height: 1;

  &::before,
  &:after{
    content: '';
    position: absolute;
    top: -7px;
    width: 5px;
    height: -webkit-calc(100% + 14px);
    height: calc(100% + 14px);
    background-color: #000;
  }

  &::before{
    left: 7px;
  }

  &:after{
    right: 7px;
  }
}

/* 偶数番目のセクションの見出し */
.section-heading-white{
  color: #fff;
  border-top: solid 5px #fff;
  border-bottom: solid 5px #fff;
  &::before,
  &:after{
    background-color: #fff;
  }
}

/* セクションの小見出し */
.section-heading-sub-title{
  display: block;
  font-size: calc(1rem + ((1vw - 3.75px) * 0.2759));
  margin-top: 0.6em;

  &::before,
  &::after{
    content: "〜";
  }
}

/* h3の見出し */
.h3-title{
  font-size: calc(1.25rem + ((1vw - 3.75px) * 0.4848));
}

/* 固定背景 */
.fixed-bg{
  background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)) ,url(../images/DQ-bg.png) top / cover no-repeat;
}

/* ボタン */
.rpg-btn{
  background-color: #000;
  display: block;
  width: 200px;
  max-width: 100%;
  padding: 6px;
  margin: 0 auto;
  text-align: center;
  transition: all .4s;
  font-size: rem(16);
  border-radius: 6px;
  margin-bottom: 60px;
  
  .btn-text{
    color: #fff;
    border-radius: 4px;
    border: 4px solid #fff;
    padding: 20px;
    display: block;
    line-height: 1;
    position: relative;

    &::before{
      content: "\f0da";
      font-family: 'Font Awesome 5 Free';
      font-weight: 900;
    }
  }

  &:hover{
    opacity: .8;
  }
}

/* h3の見出しの案内板 */
.wood{
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  background-color: #BD8E6E;
  border-radius: 4px;
  padding: 0.5em;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  border: 4px solid #553D2D;

  &::after,
  &::before{
    position: absolute;
    content: "";
  }

  &::before{
    width: 20px;
    height: 20px;
    background-color: #BD8E6E;
    border: 4px solid #553D2D;
    bottom: -28px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  }
}

/* メニューのラベル */
.title-label{
  position: absolute;
  display: inline-block;
  top: -10px;
  left: 45px;
  padding: 0 0.5em;
  line-height: 1;
  font-size: 18px;
  background-color: #000;
  font-weight: bold;
}

@media (min-width: 768px){
  section{
    padding: 100px 0 120px;
  }

  /* セクションの見出し */
  .section-heading{
    margin-bottom: 120px;
  }

  /* 固定背景 */
  .fixed-bg{
    background-attachment: fixed;
  }

  .wood{
    margin-bottom: 70px;
  }
}

@media (min-width: 1025px){
  body{
    font-size: rem(16);
  }

  .pc-wrapper{
    display: flex;
    position: relative;

    .contents-wrapper{
      flex: 1;
      margin-left: 350px;
    }
  }

  /* セクションの見出し */
  .section-heading{
    font-size: rem(40);
  }

  /* セクションの小見出し */
  .section-heading-sub-title{
    font-size: rem(18);
  }

  /* h3の見出し */
  .h3-title{
    font-size: rem(24);
  }

  /* ボタン */
  .rpg-btn{
    margin-bottom: 80px;
  }
}

/* ------------------------------------ */
/* header */
/* ------------------------------------ */
/* ヘッダー共通 */
header{
  background-color: #000;
  color: #fff;
  padding: 16px 0;
  width: 100%;

  .inner{
    display: flex;
    justify-content: space-between;
  }
}

/* サイトタイトル */
.site-title{
  font-size: 20px;
  font-weight: 300;
  font-family: "Hiragino Kaku Gothic ProN";
  letter-spacing: normal;
  width: 230px;
  line-height: 1.2;
  @include border;
  
  a{
    padding: 8px 12px;
    width: 100%;
    height: 100%;
    display: block;
  }
}

@media (min-width: 1025px) {
  /* ヘッダー */
  header{
    position: fixed;
    width: 350px;
    z-index: 100;
    padding: 100px 0 120px;
    height: 100%;
    overflow-y: auto;

    /*IE(Internet Explorer)・Microsoft Edge*/
    -ms-overflow-style: none;

    /*Firefox*/
    scrollbar-width: none;

    /*Google Chrome、Safari*/
    &::-webkit-scrollbar{
      display: none;
    }
      
    .inner{
      height: 100%;
      padding: 0;
      display: flex;
      flex-direction: column;
    }
  }

  /* サイトタイトル */
  .site-title{
    font-size: 28px;
    width: 270px;
    margin: 0 auto 60px;
    line-height: 1.5;
  }
  
}

/* ------------------------------------ */
/* ナビメニュー関連 */
/* ------------------------------------ */
/* --- sp用メニュー ---*/
/* メニューアイコン共通 */
.icon{
  cursor: pointer;
  @include border;
  display: inline-block;
  padding: 8px;
  align-self: start;
}

/* 閉じるアイコン */
.close-icon{
  position: absolute;
  top: 3%;
  right: 4%;
}

/* スクロールすると固定になるヘッダー */
.fixed-icon-wrapper{
  display: none;
  background-color: #000;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 12px;
  z-index: 1;
  height: 60px;

  .open-icon{
    padding: 4px;
    position: absolute;
    right: 4%;
    font-size: 12px;
  }
}

/* ナビメニュー */
.sp-nav{
  position: fixed;
  background-color: #000;
  z-index: 1000;
  width: 100%;
  height: 100vh;
  left: -150%;
  top: 0%;
  color: #fff;
  transition: all .4s;
}

.sp-nav-list{
  @include border;
  width: 80%;
  max-width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* ナビのタイトル */
.nav-title{
  top: -10px;
  left: 45px;
}

/* ナビのリスト */
.nav-list{
  padding: 2em;
  width: 80%;
  margin: 0 auto;

  a{
    margin: 0.5em;
    display: inline-block;
  }

  & li:last-child a::after{
    content: "\f35d";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    margin-left: 4px;
  }
}

/* pc用ナビ */
.pc-nav{
  display: none;
}

/* is-activeクラスが付いた時 */
body.is-active{
  overflow-y: hidden;
}

.sp-nav.is-active{
  left: 0;
}

@media (min-width: 1025px) {
  .sp-nav-wrapper{
    display: none;
  }

  /* --- pc用メニュー ---*/
  /* ナビメニュー */
  .pc-nav{
    display: block;
    position: relative;
    @include border;
    width: 270px;
    margin: 0 auto;
  }

  /* ナビのタイトル */
  .nav-title{
    font-size: 20px;
  }

  /* ナビのリスト */
  .nav-list{
    padding: 24px 0;
    width: 80%;
    margin: 0 auto;
    .cursor{
      opacity: 0;
      transition: all .4s;
    }
  }
}

.pc-nav ul li a:hover{
  color:#fc2;
}

/* ------------------------------------ */
/* footer */
/* ------------------------------------ */
footer{
  color: #fff;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: auto;

  .copy{
    font-size: 12px;
  }
}

.to-top{
  width: 40px;
  height: 40px;
  cursor: pointer;
  position: fixed;
  bottom: 2%;
  right: 2%;
  z-index: 1;

  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media (min-width: 900px) {
  footer{
    .copy{
      font-size: 14px;
    }
  } 

  .to-top{
    width: 60px;
    height: 60px;
  }
}

/* ------------------------------------ */
/* メインビジュアル */
/* ------------------------------------ */
.mv{
  background-color: #000;
  width: 100%;
  height: 100vh;

  .inner{
    position: relative;
    height: 100%;
    width: 100%;
  }
}

.mv-text{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  color: #fff;
  border: 5px solid #fff;
  border-radius: 8px;
  font-size: 18px;
  font-size: calc(1.125rem + ((1vw - 3.45px) * 1.1696));
  letter-spacing: 0.2em;
  text-align: center;
  max-width: 100%;
  padding: 1.5em 1em;
  align-self: flex-end;
}

.TextTyping span {
	display: none;
  color: #fff;
}

/*文字列後ろの線の設定*/
.TextTyping::after {
  content: "|";
	animation: typinganime .8s ease infinite;
  color: #fff;
}

@keyframes typinganime{
	from{opacity:0}
	to{opacity:1}
}

@media (min-width: 900px) {
  .mv{
    height: 100vh;
  }

  .mv-text{
    font-size: rem(28);
    width: 80%;
  }
}

/* ------------------------------------ */
/* works */
/* ------------------------------------ */
/*---- レイアウトここから ----*/
.items{
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
}

.works-wrapper__works,
.works-wrapper__cording{
  margin-bottom: 60px;
}
/*---- レイアウトここまで ----*/

.works{
  text-align: center;
  background-color: #fff;
}

/* 注釈 */
.works-sentence{
  margin-bottom: 20px;
}

/* worksのitem */
.item{
  width: 100%;
  border-radius: 4px;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);

  .item-wrapper{
    display: block;
    width: 100%;
  }
}

/* itemの画像 */
.item-image{
  width: 100%;
  padding-top: 56.25%;
  position: relative;
  overflow: hidden;

  img{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .6s;
  }
}

/* itemのタイトル */
.item-title{
  text-align: center;
  padding: 1em;
}

@media (min-width: 575px) {
  /*---- レイアウトここから ----*/
  .items{
    justify-content: space-between;
  }

  .works-wrapper__works,
  .works-wrapper__cording{
    margin-bottom: 80px;
  }
  /*---- レイアウトここまで ----*/

  /* worksのitem */
  .item{
    width: 49%;
  }
}

@media (min-width: 1025px) {
  /*---- レイアウトここから ----*/
  .items{
    justify-content: space-between;

    /* 3カラムのスペース用 */
    &::after{
      content:"";
      display: block;
      width:33%;
    }
  }

  .works-wrapper__cording .items{
    row-gap: 0;
  }
  /*---- レイアウトここまで ----*/

  /* worksのitem */
  .item{
    width: 32%;
  }
}

/* ------------------------------------ */
/* skill */
/* ------------------------------------ */
/*---- レイアウトここから ----*/
.skill{
  width: 100%;
  color: #fff;
  background-color: #000;
}

.skill-wrapper{
  margin-bottom: 90px;
}

.skill-item{
  width: 100%;
}

.skill-item:not(:last-child){
  margin-bottom: 60px;
}

.skill_sets{
  border: 1px solid #fff;
  @include border;
  position: relative;
}

.skill_sets-wrapper{
  padding: 2em 1em;
}

/* 個々のスキルの説明ブロック */
.skill_set{
  margin-bottom: 30px;
  width: 100%;

  &:last-child{
    margin-bottom: 0;
  }
}

/*---- レイアウトここまで ----*/

/* セクションの見出し */
.skill{
  .section-heading{
    margin-bottom: 80px;
  }
}

/* サービスの画像 */
.skill_image-wrapper{
  width: 100%;
  overflow: hidden;
  aspect-ratio: 16 / 9;

  img{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

/* スキルのテキスト */
.skill_text-wrapper{
  @include border;
  padding:  1.5em 1em;
  width: 100%;

  .h3-title{
    margin-bottom: 10px;
  }
}

.skill_sets-label{
  top: -10px;
  left: 45px;
  font-size: calc(1.25rem + ((1vw - 3.75px) * 0.5517));
}

/* スキルの名前 */
.skill_set-name{
  margin-bottom: 8px;
  font-weight: bold;
  display: flex;
  align-items: flex-end;
  font-size: calc(1.125rem + ((1vw - 3.75px) * 0.2424));
}

/* スキルのアイコン */
.skill_set-icon{
  background-position: center;
  background-size: cover;
  width: 40px;
  height: 40px;
  display: inline-block;
  margin-right: 8px;
}

@media (min-width: 575px){
  /*---- レイアウトここから ----*/
  /* セクションの見出し */
  .skill{
    .section-heading{
      margin-bottom: 120px;
    }
  }

  .skill-wrapper{
    margin-bottom: 200px;
    padding-top: 60px;
    display: flex;
    justify-content: space-between;
  }

  .skill-item{
    width: 32%;
    display: flex;
    flex-direction: column;
  }

  .skill-item:not(:last-child){
    margin-bottom: 0px;
  }

  .skill_text-wrapper{
    flex: 1;
  }

  .skill_sets-wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
    width: 100%;
  }

  /* 個々のスキルの説明ブロック */
  .skill_set{
    width: 48%;
    margin-bottom: 40px;
  }
  /*---- レイアウトここまで ----*/

  .skill_sets-label{
    font-size: rem(24);
  }

  /* サービスの画像 */
  .skill_image-wrapper{
    margin-bottom: 10px;
  }

  /* スキルの名前 */
  .skill_set-name{
    margin-bottom: 12px;
    font-size: rem(20);
  }

  /* スキルのアイコン */
  .skill_set-icon{
    width: 50px;
    height: 50px;
  }

}

@media (min-width: 1025px){
  /*---- レイアウトここから ----*/

  /*---- レイアウトここまで ----*/
}

/* ------------------------------------ */
/* profile */
/* ------------------------------------ */
/* 背景画像 */
.profile{
  background-color: #dadada;

  .wood{
    width: 200px;
    display: block; 
    text-align: center;
  }
}

/* 自己紹介 */
.prof-wrapper{
  margin-bottom: 60px;
  // background-color: rgba(255, 255, 255, 0.4);
  position: relative;
}

/* 名前 */
.prof-name{
  font-size: rem(18);
  margin-bottom: 8px;
}

/* 自己紹介の本文 */
.prof-text-list{
  li:not(:last-child){
    margin-bottom: 8px;
  }
}

/* 経歴のリスト */
.career-list{

  li{
    position: relative;
    padding: 0 0 0 1.8em;

    /* 線 */
    &::before{
      content: " ";
      width: 2px;
      background: #000;
      display: block;
      position: absolute;
      top: 25px;
      left: 0.7em;
      bottom: 2px;
    }

    /* 最後の線 */
    &:last-child::before{
      height: 60%;
    }
  }
}

/* 時間 */
time{
  display: block;

  /* マーカー */
  &::before{
    content: "";
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    background: $textColorB;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  }
}

/* 経歴の本文 */
.career-content{
  padding: 1em 0;
}

/* ブログ関連 */
.blog-pr{
  text-align: center;
  width: 250px;
  margin: 0 auto 24px;
  position: relative;
  font-size: 16px;

  &:before, 
  &:after {
    content: '';
    position: absolute;
    top: 60%;
    display: inline-block;
    width: 32px;
    height: 3px;
    background-color: $textColor;
  }

  &:before {
    left: -8%;
    transform: rotate(60deg);
  }

  &:after {
    right: -8%;
    transform: rotate(-60deg);
  }
}

/* アンダーライン */
.under-line{
  background:linear-gradient(transparent 60%, #fff799 60%);
}

.blog-banner{
  width: 100%;
  max-width: 430px;
  margin: 0 auto;
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}


@media (min-width: 900px){
  /* 自己紹介 */
  .prof-wrapper{
    margin-bottom: 100px;
  }

  /* 名前 */
  .prof-name{
    font-size: rem(24);
    margin-bottom: 16px;
  }

  /* 自己紹介の本文 */
  .prof-text-list{
    li:not(:last-child){
      margin-bottom: 16px;
    }
  }
    
  /* ブログ関連 */
  .blog-pr{
    font-size: 20px;
    width: 300px;

    &:before, 
    &:after {
      width: 40px;
      height: 3px;
    }
  }
}

/* -------------------------------------------- */
/* コンタクト */
/* -------------------------------------------- */
/*---- レイアウトここから ----*/
.form-wrapper{
  width: 100%;
  margin: 0 auto;
}

.form-parts{
  margin-bottom: 30px;
}
/*---- レイアウトここまで ----*/

.contact{
  background: #000;
  color: #fff;
}

/* 冒頭の挨拶文 */
.contact-greet{
  margin-bottom: 24px;
  text-align: center;
}

/* フォーム部品 */
.form-parts{
  position: relative;
  @include border;

  .title-label{
    font-size: rem(14);
    z-index: 2;
  }

  input[type="text"],
  input[type="email"],
  textarea{
    width: 100%;
    display: block;
    padding: 1em;
    border: 1px solid transparent;
    background-color: inherit;
    color: inherit;
    border-radius: 3px;
    font-size: 14px;

    &:focus{
      outline:#000;
      background-color: #000;
    }
  }

  textarea{
    height: 200px;
  }
}

.acceptance{
  margin-bottom: 60px;
}

.must::before{
  content: "※";
}

.rpg-btn_submit{
  width: 200px;
  margin: 0 auto;
  max-width: 100%;
  background-color: #000;
  display: block;
  color: #fff;
  padding: 20px;
  line-height: 1;
  text-align: center;
  transition: all .4s;
  font-size: rem(16);
  border-radius: 4px;
  border: 4px solid #fff;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;

  &:hover{
    opacity: .6;
  }
}

/* contact form7用 */ 
/* エラーメッセージを見やすくする */
span.wpcf7-not-valid-tip {
  padding-top: 0.5em;
  font-weight: 600;
  // display: block;

  &::before{
    content: "※";
  }
}

.wpcf7 form .wpcf7-response-output{
  color: #DD3232;
  font-weight: bold;
  margin: 0;
}

@media (min-width: 575px) {
  /*---- レイアウトここから ----*/
  .form-wrapper{
    max-width: 600px;
    margin: 0 auto;
  }

  .form-parts{
    margin-bottom: 40px;
  }
  /*---- レイアウトここまで ----*/

}

@media (min-width: 1025px) {
  
  .contact{
    .contact-greet{
      margin-bottom: 40px;
    }
  }

  /* フォーム部品 */
  .form-parts{
    .title-label{
      font-size: rem(16);
    }

    input[type="text"],
    input[type="email"],
    textarea{
      font-size: 16px;
    }

    input[type="submit"] {
      font-size: 16px;
    }
  }
  
  .acceptance{
    margin-bottom: 80px;
  }
}

/* ------------------------------------ */
/* 下層ページ共通部品 */
/* ------------------------------------ */
.page__bgc{
  background-color: #f7f6f6;
}

/* ページタイトル */
.page-heading{
  font-size: calc(1.5rem + ((1vw - 3.75px) * 2.9091));
}

/* パンクズリスト */
.breadcrumbs{
  color: $textColorB;
  padding: 0.5em 0;

  .breadcrumb_inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .fa-angle-right {
      padding: 0 0.5em;
    }
  
    span {
      display: flex;
      align-items: center;
      i{
        margin-right: 0.3em;
      }
    }
  
    a {
      transition: all .4s;
      &:hover{
        opacity: .6;
      }
    }
  }
}

@media (min-width: 1025px) {
  .page-heading{
    font-size: rem(48);
  }
}

/* -------------------------------------------- */
/* 記事ページ */
/* -------------------------------------------- */
/* サムネイル画像 */
.image-wrapper{
  border: 2px solid #ddd;
  width:100%;
  margin-bottom: 16px;
  padding-top: 56.25%;
  position: relative;
  overflow: hidden;

  .single-image{
    position: absolute;
    top:0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

/* 説明リスト */
.single-explain-wrapper{
  margin-bottom: 16px;

  &:last-child{
    margin-bottom: 0;
  }
}

/* 説明のタイトル */
.single-title{
  font-weight: bold;
  margin-bottom: 8px;
  font-size: calc(1rem + ((1vw - 3.75px) * 0.4848));
}

/* 説明文 */
.single-content{
  color: $textColorB;
}

/* サイト名のリンク */
.cfs-hyperlink{
  color: #1B0DAB;
  display: inline-block;
  transition: all .4s;

  &:hover{
    opacity: .6;
  }

  &::after{
    content: "\f35d";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    margin-left: 4px;
  }
}

/* 製作のポイント */
.point-wrapper{

  .single-content{
    padding-left: 1.2em;
    text-indent: -1.2em;
  }

  .single-content:not(:last-child){
    margin-bottom: 8px;
  }
}

/* イメージ画像の大枠 */
.site-image-wrapper{
  margin-bottom: 64px;
}

/* pcでのイメージ */
.pc-image-wrapper{
  margin-bottom: 24px;
  .pc-image{
    display: none;
  }
}

/* spでのイメージ */
.sp-image-wrapper{
  margin-bottom: 24px;
  .sp-image{
    display: none;
  }
}

/* トグルボタン */
.toggle-btn{
  cursor: pointer;
  color: $textColor;
  background-color: #fff;
  border: 2px solid #000;
  padding: 8px;
  display: inline-block;
  border-radius: 6px;
  font-weight: bold;
  margin-bottom: 8px;

  i{
    margin-right: 4px;
  }
}

/* 注釈 */
.click-open{
  font-size: rem(12);
  margin-bottom: 16px;
  color:$textColorB;
}
  
/* 記事ページ用ナビゲーション */
.post-navigation .nav-links{
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;

  .nav-previous,
  .nav-next{
    position: absolute;
    a{
      color: $textColor;
      border: 2px solid #000;
      background-color: #fff;
      display: inline-block;
      border-radius: 4px;
      padding: 0.5em 0.8em;
      transition: .3s;
      &:hover{
        background: #000;
        color: #fff;
      }
    }
  }

  .nav-previous{
    top: 0;
    left: 0;
  }
  
  .nav-next{
    top: 0;
    right: 0;

  }
}

@media (min-width: 575px) {
  /* サムネイル画像 */
  .image-wrapper{
    margin-bottom: 32px;
  }

  /* 説明リスト */
  .single-explain-wrapper{
    margin-bottom: 32px;
  }

  /* イメージ画像の大枠 */
  .site-image-wrapper{
    margin-bottom: 64px;
  }

  /* pcでのイメージ */
  .pc-image-wrapper{
    margin-bottom: 40px;
    .pc-image{
      display: block;
    }
  }

  /* pcでのイメージ */
  .sp-image-wrapper{
    margin-bottom: 40px;
    width: 50%;
    .sp-image{
      display: block;
    }
  }

  /* トグルボタン */
  .toggle-btn{
    transition: all .4s;
  
    &:hover{
      background: #000;
      color: #fff;
    }
  }

}

@media (min-width: 1025px) {
  /* 説明のタイトル */ 
  .single-title{
    font-size: rem(20);
  }

  /* イメージ画像の大枠 */
  .site-image-wrapper{
    display: flex;
    justify-content: space-between;
    margin-bottom: 128px;
  }

  /* pcでのイメージ */
  .pc-image-wrapper{
    margin-bottom: 0px;
    width: 70%;

    .pc-image{
      display: block;
    }
  }

  /* スマホでのイメージ */
  .sp-image-wrapper{
    margin-bottom: 0px;
    width: 28%;
  
    .sp-image{
      display: block;
      width: 100%;
    }
  }

  /* 注釈 */
  .click-open{
    font-size: rem(14);
    margin-bottom: 24px;
  }
  
}

/* -------------------------------------------- */
/* 製作物の一覧ページ(works) */
/* -------------------------------------------- */
.works-wrapper__archives .items{
  margin-bottom: 30px;
}

/* ページネーション */
.pagination .nav-links{
  display: flex;
  justify-content: center;
  gap: 8px;

  /* 数字のリンク */
  .page-numbers{
    color: $textColor;
    background-color: #fff;
    border: 2px solid #000;
    display: inline-block;
    border-radius: 4px;
    padding: 0.5em 0.8em;
    transition: .3s;

    /* 現在のページ */
    &.current{
      background-color: #000;
      color: #fff;
    }
  }

  a:hover{
    background: #000;
    color: #fff;
  }
}

@media (min-width: 575px){
  .works-wrapper__archives .items{
    margin-bottom: 80px;
  }

  .works{
    .pagination{
      margin-bottom: 80px;
    }
  }
}

/* -------------------------------------------- */
/* 404ページ */
/* -------------------------------------------- */
.nf-page{
  background-color: #ddd;
}

.top-link{
  margin-bottom: 20px;
  a{
    color: #1B0DAB;;
    transition: all .4s;
    text-decoration: underline;
    &:hover{
      opacity: .7;
    }
  }
}

/* 画像 */
.kbyt-image{
  width: 50%;
  text-align: center;
  margin: 0 auto 10px;
}

/* 謝罪 */
.apolo{
  font-size: calc(1.375rem + ((1vw - 3.75px) * 2.5366));
  margin-bottom: 32px;
}

/* セリフ */
.serif{
  @include border;
  padding: 1.5em 1em;
  background-color: #000;
  color: #fff;
  font-family: 'DotGothic16', sans-serif;
  font-size: calc(1.25rem + ((1vw - 3.75px) * 1.2121));
}

@media (min-width: 575px) {
  /* 謝罪 */
  .apolo{
    margin-bottom: 80px;
  }
}

@media (min-width: 1025px) {
  /* 謝罪 */
  .apolo{
    font-size: rem(48);
  }

  /* セリフ */
  .serif{
    font-size: rem(30);
  }
}
