@charset "UTF-8";
*{
  box-sizing: border-box;
}

/* フォントサイズの設定 */
@function rem($px){
  @return ($px/16) *1rem;
}

/* リセットCSS */
body,h1,h2,h3,h4,h5,p,ul,li,ol,dl,dt,dd,figure,input,textarea {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 100%;
  list-style: none;
  outline:0;
}

a { 
  color: inherit;
  text-decoration: none;
}

img{
  max-width:100%;
  vertical-align: bottom;
}

$textColorA: #333;
$textColorB: #FFFDFE;
$textColorC: #808080;

$backgroundColor: #fafafa;
$backgroundColorB: #ddd;

$mainColor:#494544;
$subColor: #bac8c6;
$accentColor: #c41a30;

@mixin btn{
  width: 200px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  margin: 0 auto;
  display: block;
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  ;
}

body {
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  font-size: calc(0.875rem + ((1vw - 3.75px) * 0.2424));
  line-height: 1.5;
  letter-spacing: 0.15em;
  color: $textColorA;
}

.inner{
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;
  // background-color: rgba(241,92,168,0.2);
  padding: 0 4%;
}

.btn{
  @include btn;
  a{
    display: block;
    width: 100%;
    height: 100%;
    transition: all .4s;
    border-radius: 6px;
    border: 2px solid #333;
    background-color: #fff;
    position: relative;

    &::after{
      content: '';
      position: absolute;
      top: 48%;
      right: 20%;
      width: 5px;
      height: 5px;
      border-top: 2px solid #000;
      border-right: 2px solid #000;
      transform: rotate(45deg);
      transition: all .3s;
    }
    
    &:hover::after{
      right: 15%;
    }
  }
}

/* ------------------------------------ */
/* 共通部分 */
/* ------------------------------------ */
section{
  padding: 40px 0 60px;
  position:  relative;
}

section:nth-child(odd){
  background-color: $backgroundColor;
}
section:nth-child(even){
  background-color: $backgroundColorB;
}

.pc-wrapper{
  .contents-wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
}

/* セクションの見出し */
.section-heading-warpper{
  position: relative;
  margin-bottom: 50px;

  .section-heading{
    font-size: calc(4.375rem + ((1vw - 3.75px) * 3.7073));
    letter-spacing: 0.15em;
    color: $accentColor;
    color: $backgroundColorB;
    opacity: .5;
    line-height: 1;
    text-align: center;
  }

  .ja-title{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    font-weight: bold;
    letter-spacing: 0.2em;
    font-size: calc(1.375rem + ((1vw - 3.75px) * 1.3659));
  }
}

@media (min-width: 1025px){
  body{
    font-size: rem(16);
  }

  .inner{
    padding: 0 20px;
  }

  section{
    padding: 40px 0 80px;
  }

  .pc-wrapper{
    display: flex;
    position: relative;

    .contents-wrapper{
      flex: 1;
      margin-left: 300px;
    }
  }

  /* セクションの見出し */
  .section-heading-warpper{
    margin-bottom: 80px;

    .section-heading{
      font-size: rem(108);
    }

    .ja-title{
      font-size: rem(36);
    }
  }
}

/* ------------------------------------ */
/* header */
/* ------------------------------------ */
header{
  background-color: #DBDBDB;
  background-color: $mainColor;
  color: #fff;
  color: $subColor;
  padding: 24px 0;

  h1{
    font-size: 24px;
    font-weight: 300;
    font-family: "Hiragino Kaku Gothic ProN";
    letter-spacing: normal;
    color: $subColor;
  }
}
  
.header-nav{
  display: none;
}

/* ハンバーガーメニュー */
.burger{
  width: 30px;
  height: 30px;
  position: fixed;
  color: #000;
  cursor: pointer;
  top: 2%;
  right: 2%;
  z-index: 1001;
}

/* ハンバーガーメニューのバー */
.burger div{
  width: 80%;
  height: 2px;
  border-radius: 6px;
  background-color: #000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%,0);
  transition: all .3s;
  &:nth-of-type(1){
    transform:translate(-50%,10px);
  }
  &:nth-of-type(3){
    transform:translate(-50%,-10px);
  }
}

/* バーガーメニューにactiveクラスが着いた時 */
.burger.active div:nth-of-type(2){
  opacity: 0;
}

.burger.active div:nth-of-type(1){
  transform: rotate(-45deg);
  left: 10%;
}

.burger.active div:nth-of-type(3){
  transform: rotate(45deg);
  left: 10%;
}

body.active{
  overflow-y: hidden;
}

.sp-nav{
  position: fixed;
  background-color: rgba(0, 0, 0, 0.9);
  background-color: $mainColor;
  z-index: 1000;
  width: 80%;
  height: 100vh;
  top: -150%;
  left: 0;
  text-align: center;
  transition: all .4s;
  color: $subColor;

  .nav-menu{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    .nav-title{
      font-size: 1.125rem;
      font-weight: bold;
      padding-top: 2em;
    }

    li{
      padding: 1em;
    }
  }
}

#sp-nav.slidein{
  top:0;
}

/* スクリーン */
.screen{
  background-color: $accentColor;
  position: fixed;
  width: 100%;
  height: 100%;
  top:0;
  left:-150%;
  z-index: 999;
  transition: all .4s;
}

.screen.active{
  left: 0;
}

@media (min-width: 1025px) {
  header{
    position: fixed;
    height: 100vh;
    width: 300px;
    z-index: 100;
    .inner{
      padding: 0;
    }

    h1{
      font-size: 28px;
      padding: 2em 1em;
      margin-bottom: 60px;
    }
  }
  
  .header-nav{
    display: block;
    width: 70px;
    margin: 0 auto;
    ul{
      display: block;
      li{
        margin-bottom: 32px;
        a{
          transition: all .4s;
          display: inline-block;
          &:hover{
            opacity: .6;
            transform: scale(1.1);
          }
        }
      }
    }
  }

  .burger,
  .sp-nav{
    display: none;
  }
}

/* ------------------------------------ */
/* footer */
/* ------------------------------------ */
footer{
  background-color: #E2E2E2;
  height: 80px;
  text-align: center;
  line-height: 80px;
  border-top: 2px solid $accentColor;
  position: relative;
  margin-top: auto;

  .copy{
    font-size: 12px;
  }
}

.to-top{
  width: 40px;
  height: 40px;
  cursor: pointer;
  position: fixed;
  bottom: 6%;
  right: 2%;
  z-index: 1;
}

@media (min-width: 900px) {
  footer{
    .copy{
      font-size: 14px;
    }
  } 
}

/* ------------------------------------ */
/* メインビジュアル */
/* ------------------------------------ */
.mv{
  background: url(../images/mv-6.jpeg) center /cover no-repeat;
  width: 100%;
  height: 500px;
  position: relative;

  .mv-text{
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
  }
}

.arrows {
  width: 60px;
  height: 72px;
  position: absolute;
  left: 50%;
  margin-left: -30px;
  bottom: 20px;

  path {
    stroke: #2994D1;
    fill: transparent;
    stroke-width: 2px;  
    animation: arrow 2s infinite;
    -webkit-animation: arrow 2s infinite; 
  }
}

@keyframes arrow{
  0% {opacity:0}
  40% {opacity:1}
  80% {opacity:0}
  100% {opacity:0}
}

@-webkit-keyframes arrow{
  0% {opacity:0}
  40% {opacity:1}
  80% {opacity:0}
  100% {opacity:0}
}

.arrows path.a1 {
  animation-delay:-1s;
  -webkit-animation-delay:-1s;
}

.arrows path.a2 {
  animation-delay:-0.5s;
  -webkit-animation-delay:-0.5s;
}

.arrows path.a3 { 
  animation-delay:0s;
  -webkit-animation-delay:0s; 
}

@media (min-width: 900px) {
  .mv{
    height: 100vh;
    .mv-text{
      max-width: 500px;
    }
  }
}

/* ------------------------------------ */
/* works */
/* ------------------------------------ */
.works-wrapper{

  .items-wrapper{
    margin-bottom: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 30px;

    .item-card{
      width: 100%;
      border: 1px solid #ddd;
      border-radius: 4px;
      background-color: #fff;
      overflow: hidden;
      
      a{
        border-radius: 4px;
        display: block;
        width: 100%;
      }

      .work-image{
        width: 100%;
        padding-top: 62.5%;
        position: relative;
        overflow: hidden;
      
        img{
          position: absolute;
          top:0;
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: all .6s;
        }
      }

      .work-title{
        text-align: center;
        padding: 1em 0;
      }
    }
  }
}

@media (min-width: 575px) {
  .works{
    .works-wrapper{
      .items-wrapper{
    
         /* カード型の製作物 */
        .item-card{
          width: 49%;
        }
      }
    }
  }
}

@media (min-width: 1025px) {
  .works{

    .works-wrapper{
      .items-wrapper{
        margin-bottom: 80px;
  
        /* カード型の製作物 */
        .item-card{
          width: 32%;
        }
  
        /* 3カラムのスペース用 */
        &::after{
          content:"";
          display: block;
          width:33%;
        }
      }
    }
  }
}

/* ------------------------------------ */
/* service */
/* ------------------------------------ */
.service{
  width: 100%;

  .service-wrapper{
    margin-bottom: 30px;
  }
}

/* サービスの画像 */
.service-image-wrapper{
  width: 100%;
  overflow: hidden;
  aspect-ratio: 16 / 9;

  img{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

/* サービスのタイトル */
.h3-title{
  margin-bottom: 16px;
  font-size: calc(1.5rem + ((1vw - 3.75px) * 0.5854)); 
  border-bottom: 3px solid #000;
  display: inline-block;
  line-height: 1;
  letter-spacing: 0.2em;
  position: relative;
  padding-bottom: 4px;

  &::after{
    position: absolute;
    content: " ";
    display: block;
    border-bottom: solid 3px $accentColor;
    bottom: -3px;
    width: 30%;
  }
}

/* サービスのテキスト */
.service-text-wrapper{
  background-color: rgba(255, 255,255, .8);
  padding: 16px;
  width: 100%;
  min-height: 200px;

  .h3-title{
    span{
      font-size: calc(2rem + ((1vw - 3.75px) * 0.7805));
    }
  }
}

@media (min-width: 575px){
  .service{

    .service-wrapper{
      width: 80%;
      margin: 0 auto 60px;
    }
  }
}

@media (min-width: 1025px) {
  .service{
    .inner{
      max-width: 1100px;
      padding: 0 50px;
    }

    .service-wrapper{
      width: 100%;
      margin-bottom: 250px;
      position: relative;
      z-index: 1;

      &::after{
        content: "";
        position: absolute;
        background: $subColor;
        width: 80%;
        height:100%;
        z-index: -1;
        left: 10%;
        top: 20%;
      }
    }
  }
  
  /*サービスの画像*/
  .service-image-wrapper{
    width: 60%;
    height: 100%;
    // box-shadow: 0px 0px 6px #ccc;
  }
  
  /* サービスのテキスト */
  .service-text-wrapper{
    padding: 32px 24px;
    width: 460px;
    position: absolute;
    right: 0;
    top: 200px;
    min-height: 260px;
    border: 2px solid darken( $subColor, 20% );
    box-shadow: 0 0 10px #ccc;
  
    .h3-title{
      margin-bottom: 24px;
    }
  }

  /* 偶数番目のservice-wrapper */
  .service-wrapper.even{
    display: flex;
    flex-direction: row-reverse;
    .service-image-wrapper{
      height: 100%;
      img{
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    .service-text-wrapper{
      left: 0;
    }
  }
  
  /* サービスのテキスト */
  .service-text-wrapper{
    .h3-title{
      font-size: rem(32);
      span{
        font-size: rem(40);
      }
    }
  }
}

/* ------------------------------------ */
/* profile */
/* ------------------------------------ */
.profile{

  .name{
    font-size: 20px;
    margin-bottom: 20px;
  }
  
  .prof-text{
    margin-bottom: 60px;
  }

  .btn{
    margin-bottom: 60px;
  }
  
  .blog-pr{
    text-align: center;
    width: 250px;
    margin: 0 auto 24px;
    position: relative;
    font-size: 16px;
    &:before, 
    &:after {
      content: '';
      position: absolute;
      top: 60%;
      display: inline-block;
      width: 32px;
      height: 3px;
      background-color: black;
    }
    &:before {
      left: -10%;
      transform: rotate(60deg);
    }
    &:after {
      right: -10%;
      transform: rotate(-60deg);
    }
  }

  .blog-banner{
    width: 100%;
    max-width: 430px;
    margin: 0 auto;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

@media (min-width: 900px){
  .profile{

    .name{
      font-size: 24px;
      margin-bottom: 32px;
    }
    
    .prof-text{
      margin-bottom: 80px;
    }
    
    .blog-pr{
      font-size: 20px;
      width: 300px;

      &:before, 
      &:after {
        width: 40px;
        height: 3px;
      }
    }
  
    .blog-banner{
      width: 100%;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  } 
}

/* -------------------------------------------- */
/* コンタクトページ */
/* -------------------------------------------- */
.contact{
  .contact-greet{
    margin-bottom: 24px;
    text-align: center;
  }

  width: 100%;
  .form-wrapper{
    width: 100%;
    margin: 0 auto;
  }
}

/* ラベル */
.form-wrapper{
  .form-parts{
    .label-wrapper{
      display: flex;
      align-items: center;
      margin-bottom: 8px;
  
      /* マーク */
      .label{
        color: #fff;
        margin-right: 10px;
        padding: 0.5em 1em;
        border-radius: 5px;
        font-size: 12px;
      }
  
      /* 必須マーク */
      .must{
        background: #f58694;
      }
  
      /* 任意マーク */
      .free{
        background: #7fbfff;
      }
  
      label{
        font-weight: bold;
      }
    }
  }
}

/* フォーム部品 */
.form-wrapper{
  .form-parts{
    input[type="text"],
    input[type="email"],
    textarea{
      width: 100%;
      padding: 0.5em 1em;
      margin-bottom: 1.5em;
      border: 1px solid #d0d5d8;
      border-radius: 3px;
      font-size: 14px;
    }
  
    textarea{
      height: 200px;
      user-select: none;
    }

    input[type="submit"] {
      @include btn;
      height: 100%;
      border-radius: 6px;
      border: 2px solid #333;
      background-color: #fff;
      transition: all .4s;
    }
  
    input[type="submit"]:hover{
      cursor: pointer;
      background-color: #333;
      color: #fff;
    }
    
    /* エラーメッセージ */
    .wpcf7 form .wpcf7-response-output{
      margin: 0;
      padding: 8px;
    }
  
      /* エラーメッセージ */
    .wpcf7-list-item{
      margin: 0 auto;
      text-align: left;
    }
    p{
      text-align: center;
    }
  }
}

@media (min-width: 575px) {
  .contact{
    .form-wrapper{
      max-width: 600px;
      margin: 0 auto;
    }
  }
}

@media (min-width: 1025px) {
  .contact{
    .contact-greet{
      margin-bottom: 40px;
    }
  }

  /* ラベル */
  .form-wrapper{
    .form-parts{
      .label-wrapper{
    
        /* マーク */
        .label{
          font-size: 14px;
        }
      }
    }
  }

  /* フォーム部品 */
  .form-wrapper{
    .form-parts{
      input[type="text"],
      input[type="email"],
      textarea{
        font-size: 16px;
      }

      textarea{
        margin-bottom: 16px;
      }

      input[type="submit"] {
        font-size: 16px;
      }
    }
    
    .wpcf7-list-item{
      font-size: rem(16);
    }
      
    p{
      font-size: rem(20);
      br{
        display: none;
      }
    }
  }
}


/* エラーメッセージを見やすくする */
span.wpcf7-not-valid-tip,
.wpcf7-response-output.wpcf7-validation-errors {
color: red;
font-weight: 600;
margin-bottom: 10px;
}

/* ------------------------------------ */
/* 下層ページ共通部品 */
/* ------------------------------------ */
/* ページタイトル */
.page-heading{
  background-color: $textColorA;
  font-size: calc(2rem + ((1vw - 3.75px) * 2.2069));
  padding: 1em 0;
  color: #fff;
  text-align: center;
  &::first-letter{
    color: $accentColor;
  }
}

/* パンクズリスト */
.breadcrumbs{
  color: $textColorC;
  padding: 0.5em 1em;

  .breadcrumb_inner {
    display: flex;
    flex-wrap: wrap;
    column-gap: 4px;
  
    span {
      display: flex;
      align-items: center;
    }
  
    a {
      transition: all .4s;
      &:hover{
        opacity: .6;
      }
    }
  }
}

.breadcrumbs .breadcrumb_inner span span::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 4px;
}

.breadcrumbs .breadcrumb_inner span .home::before {
  background: url(../images/svg/home.svg) no-repeat;
  background-size: contain;
}

.breadcrumbs .breadcrumb_inner span .category::before {
  background: url(../images/svg/folder.svg) no-repeat;
  background-size: contain;
}

.breadcrumbs .breadcrumb_inner span .post_tag::before {
  background: url(../images/svg/tag.svg) no-repeat;
  background-size: contain;
  align-items: center;
}

.breadcrumbs .breadcrumb_inner span .post::before {
  background: url(../images/svg/file.svg) no-repeat;
  background-size: contain;
}

@media (min-width: 1025px) {
  .page-heading{
    font-size: rem(48);
  }

  .breadcrumbs{
    padding: 0.5em 2em;
  }
}

/* -------------------------------------------- */
/* singleページ */
/* -------------------------------------------- */
/* タイトル */
.single{
  .page-heading{
    font-size: calc(1.5rem + ((1vw - 3.75px) * 1.6552));
    padding: 1.35em 0;
  }
}

/* サムネイル画像 */
.single{
  .image-wrapper{
    border: 2px solid #ddd;
    width:100%;
    margin-bottom: 16px;
    padding-top: 56.25%;
    position: relative;
    overflow: hidden;

    .single-image{
      position: absolute;
      top:0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

/* 説明 */
.single{
  ul{
    margin-bottom: 16px;

    &:last-child{
      margin-bottom: 0;
    }

    .single-title{
      font-weight: bold;
      margin-bottom: 8px;
      font-size: calc(1rem + ((1vw - 3.75px) * 0.4848));
    }

    .single-content{
      color: $textColorC;
    }

    a{
      margin-right: 4px;
      color: #1B0DAB;
      display: inline-block;
      transition: all .4s;

      &:hover{
        opacity: .6;
      }
    }
  }

  /* 製作のポイント */
  .point-wrapper{

    .single-content{
      padding-left: 1.2em;
      text-indent: -1.2em;
    }

    .single-content:not(:last-child){
      margin-bottom: 8px;
    }
  }
}

/* イメージ画像の大枠 */
.single{
  .site-image-wrapper{
    margin-bottom: 64px;

    /* pcでのイメージ */
    .pc-image-wrapper{
      margin-bottom: 24px;
    }

    /* ボタン */
    .toggle-btn{
      cursor: pointer;
      color: $textColorA;
      background-color: #fff;
      border: 2px solid $textColorA;
      padding: 8px;
      display: inline-block;
      border-radius: 6px;
      font-weight: bold;
      margin-bottom: 8px;

      i{
        margin-right: 5px;
      }
    }

    .click-open{
      font-size: 12px;
      margin-bottom: 16px;
      color:$textColorC;
    }
  }
}

/* ページネーション */
.single{
  .pagination{
    width: 100%;
    display: flex;
    position: relative;

    /* ページャーの文字色 */
    li{
      a{
        color: $textColorA;
        border: 2px solid $textColorA;
        padding: 0.5em;
        border-radius: 4px;
        font-weight: bold;

        &:hover{
          background: $textColorA;
          color: #fff;
          opacity: 1;
        }
      }
    }

    .prev, .next, .return-works{
      position: absolute;
      top: 0;
    }

    .prev{
      left: 0;
      a{
        .fas{
          margin-right: 4px;
        }
      }
    }
  
    .next{
      right: 0;
      a{
        .fas{
          margin-left: 4px;
        }
      }
    }

    /* 一覧へ戻るボタン */
    .return-works{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

@media (min-width: 575px) {
  .screen-wrapper{
    margin-bottom: 24px;
  }

  /* サムネイル画像 */
  .single{
    .image-wrapper{
      margin-bottom: 32px;
    }
  }

  /* 説明 */
  .single{
    ul{
      margin-bottom: 32px;
    }
  }

  /* イメージ画像の大枠 */
  .single{
    .site-image-wrapper{
      margin-bottom: 64px;

      /* pcでのイメージ */
      .pc-image-wrapper{
        margin-bottom: 40px;
      }

      /* pcでのイメージ */
      .sp-image-wrapper{
        margin-bottom: 40px;
        width: 50%;
      }
    }

    /* ボタン */
    .toggle-btn{
      transition: all .4s;

      &:hover{
        background-color: $textColorA;
        color: #fff;
      }
    }

    /* ページネーション */
    .pagination{
      max-width: 400px;
      margin: 0 auto;
    }
  }
}

@media (min-width: 1025px) {
  .works{
    .works-heading{
      // font-size: rem(36);
    }
  }

  /* 説明 */  
  .single{
    ul{
      .single-title{
        font-size: rem(20);
      }
    }
  }

  /* イメージ画像の大枠 */
  .single{
    .site-image-wrapper{
      display: flex;
      justify-content: space-between;
      margin-bottom: 128px;

      /* pcでのイメージ */
      .pc-image-wrapper{
        margin-bottom: 0px;
        width: 70%;

        .pc-image{
          display: block;
        }
      }

      /* スマホでのイメージ */
      .sp-image-wrapper{
        margin-bottom: 0px;
        width: 28%;
      
        .sp-image{
          display: block;
          width: 100%;
        }
      }

      .click-open{
        font-size: 14px;
        margin-bottom: 24px;
      }
    }
  }
}

/* -------------------------------------------- */
/* 製作物の一覧ページ(works) */
/* -------------------------------------------- */
.works{
  .works-add{
    margin-bottom: 20px;
  }
}

.navigation{
  width: 100%;
  /* リンクの枠 */
  .nav-links{
    display: flex;
    justify-content: center;
    gap: 8px;
  }

  /* 数字のリンク */
  .page-numbers{
    color: $textColorA;
    border: 2px solid $textColorA;
    display: inline-block;
    border-radius: 4px;
    padding: 0.5em 0.8em;
    transition: .3s;
    // font-weight: bold;

    /* 現在のページ */
    &.current{
      background-color:  #333;
      color: #fff;
    }
  }

  /* 現在のページとドット以外にホバーした時 */
  .page-numbers:not(.current, .dots):hover{
    background: $textColorA;
    color: #fff;
    opacity: 1;
  }
}

@media (min-width: 575px){
  .works{
    .works-add{
      text-align: center;
      margin-bottom: 40px;
    }
  }
}

/* -------------------------------------------- */
/* プロフィールページ */
/* -------------------------------------------- */
.about{
  /* サブタイトル (h3) */
  .sub-title{
    font-size: calc(1.3125rem + ((1vw - 3.75px) * 1.5172));
    margin-bottom: 16px;
    border-bottom: 2px solid #333;
    display: inline-block;
    padding: 0px 0.5em;
  }
}

/* 自分について */
.about{
  .about-me-wrapper{
    margin-bottom: 60px;

    .name{
      margin-bottom: 8px;
      font-size: calc(1rem + ((1vw - 3.75px) * 1.1034));
    }
  
    /* 自己紹介 */
    .about-text-list{
      li:not(:last-child){
        margin-bottom: 8px;
      }
    }
  }
}

/* 経歴 */
.about{
  .career-wrapper{
  
    /* 経歴のリスト */
    .career-list{
  
      li{
        position: relative;
        padding: 0 0 0 1.8em;
  
        /* 線 */
        &::before{
          content: " ";
          width: 2px;
          background: $textColorA;
          display: block;
          position: absolute;
          top: 25px;
          left: 0.7em;
          bottom: 2px;
        }
  
        /* 最後の線 */
        &:last-child::before{
          height: 60%;
        }
  
        /* 時間 */
        time{
          display: block;
          color: $textColorC;

          /* マーカー */
          &::before{
            content: "";
            width: 1.5em;
            height: 1.5em;
            border-radius: 50%;
            background: $accentColor;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
          }
        }
  
        /* 経歴の本文 */
        .career-content{
          padding: 1.5em 0;
        }
      }
    }
  }
}

/* スキル */
.skills{
  .skills-container{
    /* 個々のスキルの説明ブロック */
    .skill-wrapper{
      margin-bottom: 24px;
      width: 100%;

      /* スキルの名前 */
      .skill-name{
        margin-bottom: 8px;
        font-weight: bold;
        display: flex;
        align-items: flex-end;

        /* スキルのアイコン */
        span{
          background: url(../images/wordpress_icon_130782.png) center/cover;
          width: 40px;
          height: 40px;
          display: inline-block;
          margin-right: 8px;
        }
      }

      &:last-child{
        margin-bottom: 0;
      }

        /* スキルの説明 */
      .skill-explain{
        color: $textColorC;
      }
    }
  }
}

@media (min-width: 575px) {
  /* サブタイトル */
  .about{
    .h3-title{
      margin-bottom: 32px;
    }
  }

  .about{
    /* 自分について */
    .about-me-wrapper{
      margin-bottom: 80px;

      .name{
        margin-bottom: 12px;
      }

       /* 自己紹介 */
      .about-text-list{
        li:not(:last-child){
          margin-bottom: 16px;
        }
      }
    }
  }

  /* スキル */
  .skills{
    .skills-container{
      display: flex;
      justify-content: space-between;
      flex-wrap:wrap;
      width: 100%;

      /* 個々のスキルの説明ブロック */
      .skill-wrapper{
        width: 48%;
        margin-bottom: 40px;

        /* スキルの名前 */
        .skill-name{
          margin-bottom: 12px;

          /* スキルのアイコン */
          span{
            width: 50px;
            height: 50px;
          }
        }
      }
    }
  }
}

@media (min-width: 1025px){
  .about{
    /* サブタイトル */
    .h3-title{
      font-size: rem(32);
    }
  }

  .about{
    .about-me-wrapper{
      .name{
        font-size: rem(24);
      }
    }
  }
}

/* -------------------------------------------- */
/* 404ページ */
/* -------------------------------------------- */
.not-found-page{
  h2{
    font-size: calc(1.375rem + ((1vw - 3.75px) * 2.5366));
    margin-bottom: 32px;
  }

  p{
    a{
      color: #1B0DAB;;
      transition: all .4s;
      text-decoration: underline;
      &:hover{
        opacity: .7;
      }
    }
  }
}

@media (min-width: 575px) {
  .not-found-page{
    h2{
      margin-bottom: 80px;
    }
  }
}

@media (min-width: 1025px) {
  .not-found-page{
    h2{
      font-size: rem(48);
    }
  }
}


/* ------------------------------------ */
/* 下層ページ */
/* ------------------------------------ */

@media (min-width: 575px) {

  
}

@media (min-width: 1025px) {

  
}


/* ------------------------------------ */
/* 下層ページ */
/* ------------------------------------ */

@media (min-width: 575px) {

  
}

@media (min-width: 1025px) {

  
}


