@charset "UTF-8";
*{
  box-sizing: border-box;
}

@function rem($px){
  @return ($px/16) *1rem;
}


body,h1,h2,h3,h4,h5,p,ul,li,ol,dl,dt,dd,figure,input,textarea {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 100%;
  list-style: none;
  outline:0;
}

body {
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  // font-size: calc(0.875rem + ((1vw - 3.75px) * 0.2424));
  line-height: 1.5;
  letter-spacing: 0.1em;
  font-size: 14px;
}

a { 
  color: inherit;
  text-decoration: none;
}

img{
  max-width:100%;
  vertical-align: bottom;
}

$headigColor: #E3E3E3;
$fontColor: #333333;

header,main,section,footer, div, ul, li, h1,h2,h3,dl,dt,dd{
  // background-color: rgba(0,200,100,0.1);
  // border: 1px solid rgba(0,0,0,0.1);
}

.inner{
  margin: 0 auto;
  max-width: 1100px;
  width: 100%;
  // background-color: rgba(241,92,168,0.2);
  padding: 0 15px;
}

.btn{
  width: 200px;
  height: 60px;
  border: 2px solid #333333;
  border-radius: 6px;
  text-align: center;
  line-height: 60px;
  margin: 0 auto;
  display: block;
  a{
    display: block;
    width: 100%;
    transition: all .4s;
    &:hover{
      background-color: #333333;
      color: #ffffff;
    }
  }
}

/* ------------------------------------ */
/* 共通部分 */
/* ------------------------------------ */
section{
  padding: 40px 0 60px;
}

section:nth-child(odd){
  background-color: #F7F7F7;
}

/* セクションの見出し */
.section-heading-warpper{
  position: relative;
  margin-bottom: 50px;

  .section-heading{
    font-size: rem(72);
    letter-spacing: 0.15em;
    color: $headigColor;
    line-height: 1;
    text-align: center;
  }

  .ja-title{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    font-weight: bold;
    letter-spacing: 0.2em;
    font-size: rem(24);
  }
}



@media (min-width: 900px) {
  body{
    font-size: 16px;
  }

  .inner{
    padding: 0 20px;
  }

  section{
    padding: 40px 0 80px;
  }

  .pc-wrapper{
    display: flex;
    position: relative;

    header{
      width: 300px;
    }

  .contents-wrapper{
      flex: 1;
      margin-left: 300px;
    }
  }

  /* セクションの見出し */
  .section-heading-warpper{
    margin-bottom: 80px;

    .section-heading{
      font-size: rem(108);
    }

    .ja-title{
      font-size: rem(36);
    }
  }

  
}

/* ------------------------------------ */
/* header */
/* ------------------------------------ */
header{
  background-color: #DBDBDB;
  padding: 24px 0;
  h1{
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 24px;
    font-family: "Hiragino Kaku Gothic ProN";
    letter-spacing: normal;
    color: #707070;
  }
}
  
.header-nav{
  margin: 0 auto;
  ul{
    display: flex;
    justify-content: space-between;
    li{
      a{
        font-weight: bold;
      }
    }
  }
}

@media (min-width: 900px) {
  header{
    position: fixed;
    height: 100vh;
    width: 300px;
    z-index: 100;
    .inner{
      padding: 0;
    }
    h1{
      font-size: 28px;
      padding: 2em 1em;
    }
  }
  
  .header-nav{
    width: 70px;
    ul{
      display: block;
      li{
        margin-bottom: 32px;
        a{
          transition: all .4s;
          &:hover{
            opacity: .6;
          }
        }
      }
    }
  }

  
}

/* ------------------------------------ */
/* footer */
/* ------------------------------------ */
footer{
  background-color: #E2E2E2;
  height: 80px;
  text-align: center;
  line-height: 80px;
  border-top: 2px solid #fc2;
  position: relative;

  .copy{
    font-size: 12px;
  }
}

.to-top{
  width: 40px;
  height: 40px;
  cursor: pointer;
  position: fixed;
  bottom: 6%;
  right: 2%;
  z-index: 1;
}


@media (min-width: 900px) {
  footer{
    .copy{
      font-size: 14px;
    }
  } 
}


/* ------------------------------------ */
/* メインビジュアル */
/* ------------------------------------ */
.mv{
  background: url(../images/mv-6.jpeg) center / cover no-repeat;
  width: 100%;
  height: 500px;
  position: relative;
  .mv-text{
    color: #fff;
    font-size: 70px;
    position: absolute;
    width: 100%;
    text-align: center;
    font-family: 'Caveat', cursive;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media (min-width: 900px) {
  .mv{
    height: 100vh;
    .mv-text{
      font-size: 100px;
    }
  }
}
/* ------------------------------------ */
/* works */
/* ------------------------------------ */
.works-wrapper{

  .items-wrapper{
    margin-bottom: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 30px;
    // border: 2px solid #fc2;

    .item-card{
      width: 100%;
      border: 1px solid #ddd;
      border-radius: 4px;
      background-color: #fff;
      overflow: hidden;
      
      a{
        border-radius: 4px;
        display: block;
        width: 100%;
      }

      .work-image{
        width: 100%;
        padding-top: 62.5%;
        position: relative;
        overflow: hidden;
      
        img{
          position: absolute;
          top:0;
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: all .6s;
        }
      }

      .work-title{
        text-align: center;
        padding: 1em 0;
      }
    }
  }
}


@media (min-width: 575px) {
  .works{
    .works-wrapper{
      .items-wrapper{
        // margin-bottom: 64px;
    
         /* カード型の製作物 */
        .item-card{
          width: 49%;
        }
      }
    }
  }
}

@media (min-width: 1025px) {
  .works{

    .works-wrapper{
      .items-wrapper{
        margin-bottom: 80px;
  
        /* カード型の製作物 */
        .item-card{
          width: 32%;
        }
  
        /* 3カラムのスペース用 */
        &::after{
          content:"";
          display: block;
          width:33%;
        }
      }
    }
  }
}
/* ------------------------------------ */
/* service */
/* ------------------------------------ */
.service{
  width: 100%;
  .service-wrapper{
    margin-bottom: 30px;
  }

}

/*画像*/
.service-image-wrapper{
  width: 100%;
}

/* テキスト */
.service-text-wrapper{
  background-color: #fff;
  box-shadow: 0 0 20px #ccc;
  padding: 16px;
  width: 100%;

  .service-title{
    margin-bottom: 16px;
    font-size: 24px;
    border-bottom: 3px solid #000;
    display: inline-block;
    line-height: 1;
    letter-spacing: 0.2em;
    position: relative;
    padding-bottom: 4px;

    &::after{
      position: absolute;
      content: " ";
      display: block;
      border-bottom: solid 3px #ED9595;
      bottom: -3px;
      width: 30%;
    }
    span{
      font-size: 32px;
    }
  }

  .service-text{

  }
}

@media (min-width: 900px) {
  .service{
    .service-wrapper{
      width: 100%;
      margin: 0 auto;
      max-width: 1100px;
      height: 260px;
      // border: 1px solid #000;
      margin-bottom: 320px;
      display: flex;
      justify-content: space-between;
      position: relative;
      z-index: 1;

      &:before{
        content: "";
        position: absolute;
        background-color: #d0d0d0;
        width: 80%;
        height:100%;
        z-index: -1;
        left: 10%;
        top: 50%;
      }
    }
  }
  
  /*画像*/
  .service-image-wrapper{
    margin-bottom: 0px;
    width: 48%;
    height: 100%;
    box-shadow: 0 0 20px #ccc;
    img{
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .service-wrapper.odd{
    .service-image-wrapper{
      margin-right: 80px;
    }

    .service-text-wrapper{
      top: 100%;
      position: relative;
    }
  }

  .service-wrapper.even{
    .service-image-wrapper{
      margin-left: 80px;
      order: 1;
      top: 100%;
      position: relative;
    }
  }
  
  /* テキスト */
  .service-text-wrapper{
    padding: 32px 24px;
    width: 50%;
  
    .service-title{
      margin-bottom: 24px;
      font-size: 30px;
      span{
        font-size: 40px;
      }
    }
  
    .service-text{
    }
  }
}
/* ------------------------------------ */
/* profile */
/* ------------------------------------ */
.profile{

  .name{
    font-size: 20px;
    margin-bottom: 20px;
  }
  
  .prof-text{
    margin-bottom: 60px;
  }

  .btn{
    margin-bottom: 60px;
  }
  
  .blog-pr{
    text-align: center;
    width: 250px;
    margin: 0 auto 24px;
    position: relative;
    font-size: 16px;
    &:before, 
    &:after {
      content: '';
      position: absolute;
      top: 60%;
      display: inline-block;
      width: 32px;
      height: 3px;
      background-color: black;
    }
    &:before {
      left: -10%;
      transform: rotate(60deg);
    }
    &:after {
      right: -10%;
      transform: rotate(-60deg);
    }
  }

  .blog-banner{
    width: 100%;
    max-width: 430px;
    margin: 0 auto;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

@media (min-width: 900px) {
  .profile{

    .name{
      font-size: 24px;
      margin-bottom: 32px;
    }
    
    .prof-text{
      margin-bottom: 80px;
    }
  
    .btn{
      margin-bottom: 80px;
    }
    
    .blog-pr{
      font-size: 20px;
      width: 300px;

      &:before, 
      &:after {
        width: 40px;
        height: 3px;
      }
    }
  
    .blog-banner{
      width: 100%;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  
}
/* -------------------------------------------- */
/* コンタクトページ */
/* -------------------------------------------- */
.contact{
  width: 100%;
  .form-wrapper{
    width: 100%;
    margin: 0 auto;
    p{
      margin-bottom: 24px;
    }
  }
}

/* ラベル */
.form-wrapper{
  .form-parts{
    .label-wrapper{
      display: flex;
      align-items: center;
      margin-bottom: 8px;
  
      /* マーク */
      .label{
        color: #fff;
        margin-right: 10px;
        padding: 0.5em 1em;
        border-radius: 5px;
        font-size: 12px;
      }
  
      /* 必須マーク */
      .must{
        background: #f58694;
      }
  
      /* 任意マーク */
      .free{
        background: #7fbfff;
      }
  
      label{
        font-weight: bold;
      }
    }
  }
}

/* フォーム部品 */
.form-wrapper{
  .form-parts{
    input[type="text"],
    input[type="email"],
    textarea{
      width: 100%;
      padding: 0.5em 1em;
      margin-bottom: 1.5em;
      border: 1px solid #d0d5d8;
      border-radius: 3px;
      font-size: 14px;
    }
  
    textarea{
      height: 200px;
      user-select: none;
    }

    input[type="submit"] {
      transition: all .4s;
      font-size: 14px;
    }
  
    input[type="submit"]:hover{
      cursor: pointer;
      background-color: #333;
      color: #fff;
    }
    
    /* エラーメッセージ */
    .wpcf7 form .wpcf7-response-output{
      margin: 0;
      padding: 8px;
    }
  
      /* エラーメッセージ */
    .wpcf7-list-item{
      margin: 0 auto;
      text-align: left;
    }
    p{
      text-align: center;
    }
  }

}

@media (min-width: 575px) {
  // .contact{
  //   .form-wrapper{
  //     width: 100%;

  //       /* 送信ボタン */
  //       input[type="submit"] {
  //         width: 250px;
  //         font-size: rem(20);
  //         margin: 48px auto 16px;
  //       }
  
  //     }
  //     /* エラーメッセージ */
  //     .wpcf7-list-item{
  //       width: 100%;
  //     }
  // }
}

@media (min-width: 1025px) {
  .contact{
    .form-wrapper{
      max-width: 800px;
      margin: 0 auto;
      p{
        margin-bottom: 40px;
      }
    }
  }

  /* ラベル */
  .form-wrapper{
    .form-parts{
      .label-wrapper{
    
        /* マーク */
        .label{
          font-size: 14px;
        }
      }
    }
  }

  /* フォーム部品 */
  .form-wrapper{
    .form-parts{
      input[type="text"],
      input[type="email"],
      textarea{
        font-size: 16px;
      }

      textarea{
        margin-bottom: 16px;
      }

      input[type="submit"] {
        // margin: 80px auto 16px;
        font-size: 16px;
      }
    }
    
    .wpcf7-list-item{
      font-size: rem(16);
    }
      
    p{
      font-size: rem(20);
      br{
        display: none;
      }
    }
  }
}


/* エラーメッセージを見やすくする */
span.wpcf7-not-valid-tip,
.wpcf7-response-output.wpcf7-validation-errors {
color: red;
font-weight: 600;
margin-bottom: 10px;
}

/* ------------------------------------ */
/*  */
/* ------------------------------------ */
@media (min-width: 900px) {

  
}




