@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* フォントサイズの設定 */
/* リセットCSS */
body, h1, h2, h3, h4, h5, p, ul, li, ol, dl, dt, dd, figure, input, textarea {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 100%;
  list-style: none;
  outline: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

body {
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  font-size: calc(0.875rem + ((1vw - 3.75px) * 0.2424));
  line-height: 1.5;
  letter-spacing: 0.15em;
  color: #2a333c;
}

.inner {
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;
  padding: 0 20px;
}

.btn {
  width: 200px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  margin: 0 auto;
  display: block;
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
}

.btn a {
  display: block;
  width: 100%;
  height: 100%;
  -webkit-transition: all .4s;
  transition: all .4s;
  border-radius: 6px;
  border: 2px solid #333;
  background-color: #fff;
  position: relative;
}

.btn a::after {
  content: '';
  position: absolute;
  top: 48%;
  right: 20%;
  width: 5px;
  height: 5px;
  border-top: 2px solid #000;
  border-right: 2px solid #000;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: all .3s;
  transition: all .3s;
}

.btn a:hover::after {
  right: 15%;
}

/* ------------------------------------ */
/* 共通部分 */
/* ------------------------------------ */
section {
  padding: 40px 0 60px;
  position: relative;
  z-index: 1;
}

section:nth-child(odd) {
  background-color: #F7F7F7;
}

section:nth-child(even) {
  background-color: #fff;
}

.pc-wrapper .contents-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

/* セクションの見出し */
.section-heading-warpper {
  position: relative;
  margin-bottom: 50px;
}

.section-heading-warpper .section-heading {
  font-size: 4.375rem;
  font-size: calc(4.375rem + ((1vw - 3.75px) * 3.7073));
  letter-spacing: 0.15em;
  color: #E3E3E3;
  line-height: 1;
  text-align: center;
}

.section-heading-warpper .ja-title {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 0;
  font-weight: bold;
  letter-spacing: 0.2em;
  font-size: 1.375rem;
  font-size: calc(1.375rem + ((1vw - 3.75px) * 1.3659));
}

@media (min-width: 1025px) {
  body {
    font-size: 1rem;
  }
  .inner {
    padding: 0 20px;
  }
  section {
    padding: 40px 0 80px;
  }
  .pc-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
  }
  .pc-wrapper .contents-wrapper {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-left: 300px;
  }
  /* セクションの見出し */
  .section-heading-warpper {
    margin-bottom: 80px;
  }
  .section-heading-warpper .section-heading {
    font-size: 6.75rem;
  }
  .section-heading-warpper .ja-title {
    font-size: 2.25rem;
  }
}

/* ------------------------------------ */
/* header */
/* ------------------------------------ */
header {
  background-color: #DBDBDB;
  padding: 24px 0;
}

header h1 {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 24px;
  font-family: "Hiragino Kaku Gothic ProN";
  letter-spacing: normal;
  color: #707070;
}

.header-nav {
  margin: 0 auto;
}

.header-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-nav ul li a {
  font-weight: bold;
}

@media (min-width: 1025px) {
  header {
    position: fixed;
    height: 100vh;
    width: 300px;
    z-index: 100;
  }
  header .inner {
    padding: 0;
  }
  header h1 {
    font-size: 28px;
    padding: 2em 1em;
  }
  .header-nav {
    width: 70px;
  }
  .header-nav ul {
    display: block;
  }
  .header-nav ul li {
    margin-bottom: 32px;
  }
  .header-nav ul li a {
    -webkit-transition: all .4s;
    transition: all .4s;
  }
  .header-nav ul li a:hover {
    opacity: .6;
  }
}

/* ------------------------------------ */
/* footer */
/* ------------------------------------ */
footer {
  background-color: #E2E2E2;
  height: 80px;
  text-align: center;
  line-height: 80px;
  border-top: 2px solid #fc2;
  position: relative;
  margin-top: auto;
}

footer .copy {
  font-size: 12px;
}

.to-top {
  width: 40px;
  height: 40px;
  cursor: pointer;
  position: fixed;
  bottom: 6%;
  right: 2%;
  z-index: 1;
}

@media (min-width: 900px) {
  footer .copy {
    font-size: 14px;
  }
}

/* ------------------------------------ */
/* メインビジュアル */
/* ------------------------------------ */
.mv {
  background: url(../images/mv-6.jpeg) center/cover no-repeat;
  width: 100%;
  height: 500px;
  position: relative;
}

.mv .mv-text {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 60%;
}

.arrows {
  width: 60px;
  height: 72px;
  position: absolute;
  left: 50%;
  margin-left: -30px;
  bottom: 20px;
}

.arrows path {
  stroke: #2994D1;
  fill: transparent;
  stroke-width: 2px;
  animation: arrow 2s infinite;
  -webkit-animation: arrow 2s infinite;
}

@keyframes arrow {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes arrow {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.arrows path.a1 {
  animation-delay: -1s;
  -webkit-animation-delay: -1s;
}

.arrows path.a2 {
  animation-delay: -0.5s;
  -webkit-animation-delay: -0.5s;
}

.arrows path.a3 {
  animation-delay: 0s;
  -webkit-animation-delay: 0s;
}

@media (min-width: 900px) {
  .mv {
    height: 100vh;
  }
  .mv .mv-text {
    max-width: 500px;
  }
}

/* ------------------------------------ */
/* works */
/* ------------------------------------ */
.works-wrapper .items-wrapper {
  margin-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  row-gap: 30px;
}

.works-wrapper .items-wrapper .item-card {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
  overflow: hidden;
}

.works-wrapper .items-wrapper .item-card a {
  border-radius: 4px;
  display: block;
  width: 100%;
}

.works-wrapper .items-wrapper .item-card .work-image {
  width: 100%;
  padding-top: 62.5%;
  position: relative;
  overflow: hidden;
}

.works-wrapper .items-wrapper .item-card .work-image img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all .6s;
  transition: all .6s;
}

.works-wrapper .items-wrapper .item-card .work-title {
  text-align: center;
  padding: 1em 0;
}

@media (min-width: 575px) {
  .works .works-wrapper .items-wrapper {
    /* カード型の製作物 */
  }
  .works .works-wrapper .items-wrapper .item-card {
    width: 49%;
  }
}

@media (min-width: 1025px) {
  .works .works-wrapper .items-wrapper {
    margin-bottom: 80px;
    /* カード型の製作物 */
    /* 3カラムのスペース用 */
  }
  .works .works-wrapper .items-wrapper .item-card {
    width: 32%;
  }
  .works .works-wrapper .items-wrapper::after {
    content: "";
    display: block;
    width: 33%;
  }
}

/* ------------------------------------ */
/* service */
/* ------------------------------------ */
.service {
  width: 100%;
}

.service .inner {
  padding: 0;
}

.service .service-wrapper {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* サービスの画像 */
.service-image-wrapper {
  width: 100%;
  padding-top: 62.5%;
  position: relative;
  overflow: hidden;
}

.service-image-wrapper img {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* サービスのタイトル */
.h3-title {
  margin-bottom: 16px;
  font-size: calc(1.5rem + ((1vw - 3.75px) * 0.5854));
  border-bottom: 3px solid #000;
  display: inline-block;
  line-height: 1;
  letter-spacing: 0.2em;
  position: relative;
  padding-bottom: 4px;
}

.h3-title::after {
  position: absolute;
  content: " ";
  display: block;
  border-bottom: solid 3px #ED9595;
  bottom: -3px;
  width: 30%;
}

/* サービスのテキスト */
.service-text-wrapper {
  background-color: #fff;
  padding: 16px;
  width: 100%;
  min-height: 200px;
}

.service-text-wrapper .h3-title span {
  font-size: calc(2rem + ((1vw - 3.75px) * 0.7805));
}

@media (min-width: 575px) {
  .service .inner {
    max-width: 1100px;
  }
  .service .service-wrapper {
    width: 100%;
    margin: 0 auto;
    min-height: 260px;
    margin-bottom: 320px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
    z-index: 1;
  }
  .service .service-wrapper:before {
    content: "";
    position: absolute;
    background-image: -webkit-gradient(linear, left top, right top, from(#243949), to(#517fa4));
    background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
    width: 80%;
    height: 100%;
    z-index: -1;
    left: 10%;
    top: 50%;
  }
  /*サービスの画像*/
  .service-image-wrapper {
    margin-bottom: 0px;
    width: 48%;
    padding-top: 0;
  }
  /* サービスのテキスト */
  .service-text-wrapper {
    padding: 32px 24px;
    width: 48%;
  }
  .service-text-wrapper .h3-title {
    margin-bottom: 24px;
  }
  /* 奇数番目のservice-wrapper */
  .service-wrapper.odd .service-image-wrapper {
    margin-right: 80px;
  }
  .service-wrapper.odd .service-text-wrapper {
    width: 48%;
    top: 100%;
    right: 0%;
    height: 100%;
    position: absolute;
  }
  /* 偶数番目のservice-wrapper */
  .service-wrapper.even .service-image-wrapper {
    margin-left: 80px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    top: 100%;
    right: 0%;
    height: 100%;
    position: absolute;
  }
}

@media (min-width: 1025px) {
  .service .inner {
    padding: 0 20px;
  }
  /* サービスのテキスト */
  .service-text-wrapper .h3-title {
    font-size: 2rem;
  }
  .service-text-wrapper .h3-title span {
    font-size: 2.5rem;
  }
}

/* ------------------------------------ */
/* profile */
/* ------------------------------------ */
.profile .name {
  font-size: 20px;
  margin-bottom: 20px;
}

.profile .prof-text {
  margin-bottom: 60px;
}

.profile .btn {
  margin-bottom: 60px;
}

.profile .blog-pr {
  text-align: center;
  width: 250px;
  margin: 0 auto 24px;
  position: relative;
  font-size: 16px;
}

.profile .blog-pr:before, .profile .blog-pr:after {
  content: '';
  position: absolute;
  top: 60%;
  display: inline-block;
  width: 32px;
  height: 3px;
  background-color: black;
}

.profile .blog-pr:before {
  left: -10%;
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg);
}

.profile .blog-pr:after {
  right: -10%;
  -webkit-transform: rotate(-60deg);
          transform: rotate(-60deg);
}

.profile .blog-banner {
  width: 100%;
  max-width: 430px;
  margin: 0 auto;
}

.profile .blog-banner img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 900px) {
  .profile .name {
    font-size: 24px;
    margin-bottom: 32px;
  }
  .profile .prof-text {
    margin-bottom: 80px;
  }
  .profile .blog-pr {
    font-size: 20px;
    width: 300px;
  }
  .profile .blog-pr:before, .profile .blog-pr:after {
    width: 40px;
    height: 3px;
  }
  .profile .blog-banner {
    width: 100%;
  }
  .profile .blog-banner img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

/* -------------------------------------------- */
/* コンタクトページ */
/* -------------------------------------------- */
.contact {
  width: 100%;
}

.contact .contact-greet {
  margin-bottom: 24px;
  text-align: center;
}

.contact .form-wrapper {
  width: 100%;
  margin: 0 auto;
}

/* ラベル */
.form-wrapper .form-parts .label-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 8px;
  /* マーク */
  /* 必須マーク */
  /* 任意マーク */
}

.form-wrapper .form-parts .label-wrapper .label {
  color: #fff;
  margin-right: 10px;
  padding: 0.5em 1em;
  border-radius: 5px;
  font-size: 12px;
}

.form-wrapper .form-parts .label-wrapper .must {
  background: #f58694;
}

.form-wrapper .form-parts .label-wrapper .free {
  background: #7fbfff;
}

.form-wrapper .form-parts .label-wrapper label {
  font-weight: bold;
}

/* フォーム部品 */
.form-wrapper .form-parts {
  /* エラーメッセージ */
  /* エラーメッセージ */
}

.form-wrapper .form-parts input[type="text"],
.form-wrapper .form-parts input[type="email"],
.form-wrapper .form-parts textarea {
  width: 100%;
  padding: 0.5em 1em;
  margin-bottom: 1.5em;
  border: 1px solid #d0d5d8;
  border-radius: 3px;
  font-size: 14px;
}

.form-wrapper .form-parts textarea {
  height: 200px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.form-wrapper .form-parts input[type="submit"] {
  width: 200px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  margin: 0 auto;
  display: block;
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  height: 100%;
  border-radius: 6px;
  border: 2px solid #333;
  background-color: #fff;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.form-wrapper .form-parts input[type="submit"]:hover {
  cursor: pointer;
  background-color: #333;
  color: #fff;
}

.form-wrapper .form-parts .wpcf7 form .wpcf7-response-output {
  margin: 0;
  padding: 8px;
}

.form-wrapper .form-parts .wpcf7-list-item {
  margin: 0 auto;
  text-align: left;
}

.form-wrapper .form-parts p {
  text-align: center;
}

@media (min-width: 575px) {
  .contact .form-wrapper {
    max-width: 600px;
    margin: 0 auto;
  }
}

@media (min-width: 1025px) {
  .contact .contact-greet {
    margin-bottom: 40px;
  }
  /* ラベル */
  .form-wrapper .form-parts .label-wrapper {
    /* マーク */
  }
  .form-wrapper .form-parts .label-wrapper .label {
    font-size: 14px;
  }
  /* フォーム部品 */
  .form-wrapper .form-parts input[type="text"],
  .form-wrapper .form-parts input[type="email"],
  .form-wrapper .form-parts textarea {
    font-size: 16px;
  }
  .form-wrapper .form-parts textarea {
    margin-bottom: 16px;
  }
  .form-wrapper .form-parts input[type="submit"] {
    font-size: 16px;
  }
  .form-wrapper .wpcf7-list-item {
    font-size: 1rem;
  }
  .form-wrapper p {
    font-size: 1.25rem;
  }
  .form-wrapper p br {
    display: none;
  }
}

/* エラーメッセージを見やすくする */
span.wpcf7-not-valid-tip,
.wpcf7-response-output.wpcf7-validation-errors {
  color: red;
  font-weight: 600;
  margin-bottom: 10px;
}

/* -------------------------------------------- */
/* 製作物の一覧ページ(works) */
/* -------------------------------------------- */
.works .works-add {
  margin-bottom: 20px;
}

.navigation {
  width: 100%;
  /* リンクの枠 */
  /* 数字のリンク */
  /* 現在のページとドット以外にホバーした時 */
}

.navigation .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
}

.navigation .page-numbers {
  color: #2a333c;
  border: 2px solid #2a333c;
  display: inline-block;
  border-radius: 4px;
  padding: 0.5em 0.8em;
  -webkit-transition: .3s;
  transition: .3s;
  font-weight: bold;
  /* 現在のページ */
}

.navigation .page-numbers.current {
  background-color: #333;
  color: #fff;
}

.navigation .page-numbers:hover {
  background: #2a333c;
  color: #fff;
  opacity: 1;
}

@media (min-width: 575px) {
  .works .works-add {
    text-align: center;
    margin-bottom: 40px;
  }
}

/* -------------------------------------------- */
/* プロフィールページ */
/* -------------------------------------------- */
.about {
  /* サブタイトル (h3) */
}

.about .sub-title {
  font-size: calc(1.3125rem + ((1vw - 3.75px) * 1.5172));
  margin-bottom: 16px;
  border-bottom: 2px solid #333;
  display: inline-block;
  padding: 0px 0.5em;
}

/* 自分について */
.about .about-me-wrapper {
  margin-bottom: 60px;
  /* 自己紹介 */
}

.about .about-me-wrapper .name {
  margin-bottom: 8px;
  font-size: calc(1rem + ((1vw - 3.75px) * 1.1034));
}

.about .about-me-wrapper .about-text-list li:not(:last-child) {
  margin-bottom: 8px;
}

/* 経歴 */
.about .career-wrapper {
  /* 経歴のリスト */
}

.about .career-wrapper .career-list li {
  position: relative;
  padding: 0 0 0 1.8em;
  /* 線 */
  /* 最後の線 */
  /* 時間 */
  /* 経歴の本文 */
}

.about .career-wrapper .career-list li::before {
  content: " ";
  width: 2px;
  background: #2a333c;
  display: block;
  position: absolute;
  top: 25px;
  left: 0.7em;
  bottom: 2px;
}

.about .career-wrapper .career-list li:last-child::before {
  height: 60%;
}

.about .career-wrapper .career-list li time {
  display: block;
  color: #808080;
  /* マーカー */
}

.about .career-wrapper .career-list li time::before {
  content: "";
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  background: #fc2;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.about .career-wrapper .career-list li .career-content {
  padding: 1.5em 0;
}

/* スキル */
.skills .skills-container {
  /* 個々のスキルの説明ブロック */
}

.skills .skills-container .skill-wrapper {
  margin-bottom: 24px;
  width: 100%;
  /* スキルの名前 */
  /* スキルの説明 */
}

.skills .skills-container .skill-wrapper .skill-name {
  margin-bottom: 8px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  /* スキルのアイコン */
}

.skills .skills-container .skill-wrapper .skill-name span {
  background: url(../images/wordpress_icon_130782.png) center/cover;
  width: 40px;
  height: 40px;
  display: inline-block;
  margin-right: 8px;
}

.skills .skills-container .skill-wrapper:last-child {
  margin-bottom: 0;
}

.skills .skills-container .skill-wrapper .skill-explain {
  color: #808080;
}

@media (min-width: 575px) {
  /* サブタイトル */
  .about .h3-title {
    margin-bottom: 32px;
  }
  .about {
    /* 自分について */
  }
  .about .about-me-wrapper {
    margin-bottom: 80px;
    /* 自己紹介 */
  }
  .about .about-me-wrapper .name {
    margin-bottom: 12px;
  }
  .about .about-me-wrapper .about-text-list li:not(:last-child) {
    margin-bottom: 16px;
  }
  /* スキル */
  .skills .skills-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    /* 個々のスキルの説明ブロック */
  }
  .skills .skills-container .skill-wrapper {
    width: 48%;
    margin-bottom: 40px;
    /* スキルの名前 */
  }
  .skills .skills-container .skill-wrapper .skill-name {
    margin-bottom: 12px;
    /* スキルのアイコン */
  }
  .skills .skills-container .skill-wrapper .skill-name span {
    width: 50px;
    height: 50px;
  }
}

@media (min-width: 1025px) {
  .about {
    /* サブタイトル */
  }
  .about .h3-title {
    font-size: 2rem;
  }
  .about .about-me-wrapper .name {
    font-size: 1.5rem;
  }
}

/* -------------------------------------------- */
/* 404ページ */
/* -------------------------------------------- */
.not-found-page h2 {
  font-size: calc(1.375rem + ((1vw - 3.75px) * 2.5366));
  margin-bottom: 32px;
}

.not-found-page p a {
  color: #1B0DAB;
  -webkit-transition: all .4s;
  transition: all .4s;
  text-decoration: underline;
}

.not-found-page p a:hover {
  opacity: .7;
}

@media (min-width: 575px) {
  .not-found-page h2 {
    margin-bottom: 80px;
  }
}

@media (min-width: 1025px) {
  .not-found-page h2 {
    font-size: 3rem;
  }
}

/* ------------------------------------ */
/* 下層ページ共通部品 */
/* ------------------------------------ */
/* ページタイトル */
.page-heading {
  background-color: #2a333c;
  font-size: calc(2rem + ((1vw - 3.75px) * 2.2069));
  padding: 1em 0;
  color: #fff;
  text-align: center;
}

.page-heading::first-letter {
  color: #fc2;
}

/* パンクズリスト */
.breadcrumbs .breadcrumb_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 4px;
          column-gap: 4px;
}

.breadcrumbs .breadcrumb_inner span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.breadcrumbs .breadcrumb_inner a {
  color: #555555;
}

.breadcrumbs .breadcrumb_inner span span::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 4px;
}

.breadcrumbs .breadcrumb_inner span .home::before {
  background: url(../images/svg/home.svg) no-repeat;
  background-size: contain;
}

.breadcrumbs .breadcrumb_inner span .category::before {
  background: url(../images/svg/folder.svg) no-repeat;
  background-size: contain;
}

.breadcrumbs .breadcrumb_inner span .post_tag::before {
  background: url(../images/svg/tag.svg) no-repeat;
  background-size: contain;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.breadcrumbs .breadcrumb_inner span .post::before {
  background: url(../images/svg/file.svg) no-repeat;
  background-size: contain;
}

@media (min-width: 1025px) {
  .page-heading {
    font-size: 3rem;
  }
}

/* ------------------------------------ */
/* 下層ページ */
/* ------------------------------------ */
/*# sourceMappingURL=styles.css.map */