@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, p, ul, li, ol, dl, dt, dd, figure, input, textarea {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 100%;
  list-style: none;
  outline: 0;
}

body {
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  line-height: 1.5;
  letter-spacing: 0.1em;
  font-size: 14px;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

.inner {
  margin: 0 auto;
  max-width: 1100px;
  width: 100%;
  padding: 0 15px;
}

.btn {
  width: 200px;
  height: 60px;
  border: 2px solid #333333;
  border-radius: 6px;
  text-align: center;
  line-height: 60px;
  margin: 0 auto;
  display: block;
}

.btn a {
  display: block;
  width: 100%;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.btn a:hover {
  background-color: #333333;
  color: #ffffff;
}

/* ------------------------------------ */
/* 共通部分 */
/* ------------------------------------ */
section {
  padding: 40px 0 60px;
}

section:nth-child(odd) {
  background-color: #F7F7F7;
}

/* セクションの見出し */
.section-heading-warpper {
  position: relative;
  margin-bottom: 50px;
}

.section-heading-warpper .section-heading {
  font-size: 4.5rem;
  letter-spacing: 0.15em;
  color: #E3E3E3;
  line-height: 1;
  text-align: center;
}

.section-heading-warpper .ja-title {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 0;
  font-weight: bold;
  letter-spacing: 0.2em;
  font-size: 1.5rem;
}

@media (min-width: 900px) {
  body {
    font-size: 16px;
  }
  .inner {
    padding: 0 20px;
  }
  section {
    padding: 40px 0 80px;
  }
  .pc-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
  }
  .pc-wrapper header {
    width: 300px;
  }
  .pc-wrapper .contents-wrapper {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-left: 300px;
  }
  /* セクションの見出し */
  .section-heading-warpper {
    margin-bottom: 80px;
  }
  .section-heading-warpper .section-heading {
    font-size: 6.75rem;
  }
  .section-heading-warpper .ja-title {
    font-size: 2.25rem;
  }
}

/* ------------------------------------ */
/* header */
/* ------------------------------------ */
header {
  background-color: #DBDBDB;
  padding: 24px 0;
}

header h1 {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 24px;
  font-family: "Hiragino Kaku Gothic ProN";
  letter-spacing: normal;
  color: #707070;
}

.header-nav {
  margin: 0 auto;
}

.header-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-nav ul li a {
  font-weight: bold;
}

@media (min-width: 900px) {
  header {
    position: fixed;
    height: 100vh;
    width: 300px;
    z-index: 100;
  }
  header .inner {
    padding: 0;
  }
  header h1 {
    font-size: 28px;
    padding: 2em 1em;
  }
  .header-nav {
    width: 70px;
  }
  .header-nav ul {
    display: block;
  }
  .header-nav ul li {
    margin-bottom: 32px;
  }
  .header-nav ul li a {
    -webkit-transition: all .4s;
    transition: all .4s;
  }
  .header-nav ul li a:hover {
    opacity: .6;
  }
}

/* ------------------------------------ */
/* footer */
/* ------------------------------------ */
footer {
  background-color: #E2E2E2;
  height: 80px;
  text-align: center;
  line-height: 80px;
  border-top: 2px solid #fc2;
  position: relative;
}

footer .copy {
  font-size: 12px;
}

.to-top {
  width: 40px;
  height: 40px;
  cursor: pointer;
  position: fixed;
  bottom: 6%;
  right: 2%;
  z-index: 1;
}

@media (min-width: 900px) {
  footer .copy {
    font-size: 14px;
  }
}

/* ------------------------------------ */
/* メインビジュアル */
/* ------------------------------------ */
.mv {
  background: url(../images/mv-6.jpeg) center/cover no-repeat;
  width: 100%;
  height: 500px;
  position: relative;
}

.mv .mv-text {
  color: #fff;
  font-size: 70px;
  position: absolute;
  width: 100%;
  text-align: center;
  font-family: 'Caveat', cursive;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media (min-width: 900px) {
  .mv {
    height: 100vh;
  }
  .mv .mv-text {
    font-size: 100px;
  }
}

/* ------------------------------------ */
/* works */
/* ------------------------------------ */
.works-wrapper .items-wrapper {
  margin-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  row-gap: 30px;
}

.works-wrapper .items-wrapper .item-card {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
  overflow: hidden;
}

.works-wrapper .items-wrapper .item-card a {
  border-radius: 4px;
  display: block;
  width: 100%;
}

.works-wrapper .items-wrapper .item-card .work-image {
  width: 100%;
  padding-top: 62.5%;
  position: relative;
  overflow: hidden;
}

.works-wrapper .items-wrapper .item-card .work-image img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all .6s;
  transition: all .6s;
}

.works-wrapper .items-wrapper .item-card .work-title {
  text-align: center;
  padding: 1em 0;
}

@media (min-width: 575px) {
  .works .works-wrapper .items-wrapper {
    /* カード型の製作物 */
  }
  .works .works-wrapper .items-wrapper .item-card {
    width: 49%;
  }
}

@media (min-width: 1025px) {
  .works .works-wrapper .items-wrapper {
    margin-bottom: 80px;
    /* カード型の製作物 */
    /* 3カラムのスペース用 */
  }
  .works .works-wrapper .items-wrapper .item-card {
    width: 32%;
  }
  .works .works-wrapper .items-wrapper::after {
    content: "";
    display: block;
    width: 33%;
  }
}

/* ------------------------------------ */
/* service */
/* ------------------------------------ */
.service {
  width: 100%;
}

.service .service-wrapper {
  margin-bottom: 30px;
}

/*画像*/
.service-image-wrapper {
  width: 100%;
}

/* テキスト */
.service-text-wrapper {
  background-color: #fff;
  -webkit-box-shadow: 0 0 20px #ccc;
          box-shadow: 0 0 20px #ccc;
  padding: 16px;
  width: 100%;
}

.service-text-wrapper .service-title {
  margin-bottom: 16px;
  font-size: 24px;
  border-bottom: 3px solid #000;
  display: inline-block;
  line-height: 1;
  letter-spacing: 0.2em;
  position: relative;
  padding-bottom: 4px;
}

.service-text-wrapper .service-title::after {
  position: absolute;
  content: " ";
  display: block;
  border-bottom: solid 3px #ED9595;
  bottom: -3px;
  width: 30%;
}

.service-text-wrapper .service-title span {
  font-size: 32px;
}

@media (min-width: 900px) {
  .service .service-wrapper {
    width: 100%;
    margin: 0 auto;
    max-width: 1100px;
    height: 260px;
    margin-bottom: 320px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
    z-index: 1;
  }
  .service .service-wrapper:before {
    content: "";
    position: absolute;
    background-color: #d0d0d0;
    width: 80%;
    height: 100%;
    z-index: -1;
    left: 10%;
    top: 50%;
  }
  /*画像*/
  .service-image-wrapper {
    margin-bottom: 0px;
    width: 48%;
    height: 100%;
    -webkit-box-shadow: 0 0 20px #ccc;
            box-shadow: 0 0 20px #ccc;
  }
  .service-image-wrapper img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .service-wrapper.odd .service-image-wrapper {
    margin-right: 80px;
  }
  .service-wrapper.odd .service-text-wrapper {
    top: 100%;
    position: relative;
  }
  .service-wrapper.even .service-image-wrapper {
    margin-left: 80px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    top: 100%;
    position: relative;
  }
  /* テキスト */
  .service-text-wrapper {
    padding: 32px 24px;
    width: 50%;
  }
  .service-text-wrapper .service-title {
    margin-bottom: 24px;
    font-size: 30px;
  }
  .service-text-wrapper .service-title span {
    font-size: 40px;
  }
}

/* ------------------------------------ */
/* profile */
/* ------------------------------------ */
.profile .name {
  font-size: 20px;
  margin-bottom: 20px;
}

.profile .prof-text {
  margin-bottom: 60px;
}

.profile .btn {
  margin-bottom: 60px;
}

.profile .blog-pr {
  text-align: center;
  width: 250px;
  margin: 0 auto 24px;
  position: relative;
  font-size: 16px;
}

.profile .blog-pr:before, .profile .blog-pr:after {
  content: '';
  position: absolute;
  top: 60%;
  display: inline-block;
  width: 32px;
  height: 3px;
  background-color: black;
}

.profile .blog-pr:before {
  left: -10%;
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg);
}

.profile .blog-pr:after {
  right: -10%;
  -webkit-transform: rotate(-60deg);
          transform: rotate(-60deg);
}

.profile .blog-banner {
  width: 100%;
  max-width: 430px;
  margin: 0 auto;
}

.profile .blog-banner img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 900px) {
  .profile .name {
    font-size: 24px;
    margin-bottom: 32px;
  }
  .profile .prof-text {
    margin-bottom: 80px;
  }
  .profile .btn {
    margin-bottom: 80px;
  }
  .profile .blog-pr {
    font-size: 20px;
    width: 300px;
  }
  .profile .blog-pr:before, .profile .blog-pr:after {
    width: 40px;
    height: 3px;
  }
  .profile .blog-banner {
    width: 100%;
  }
  .profile .blog-banner img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

/* -------------------------------------------- */
/* コンタクトページ */
/* -------------------------------------------- */
.contact {
  width: 100%;
}

.contact .form-wrapper {
  width: 100%;
  margin: 0 auto;
}

.contact .form-wrapper p {
  margin-bottom: 24px;
}

/* ラベル */
.form-wrapper .form-parts .label-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 8px;
  /* マーク */
  /* 必須マーク */
  /* 任意マーク */
}

.form-wrapper .form-parts .label-wrapper .label {
  color: #fff;
  margin-right: 10px;
  padding: 0.5em 1em;
  border-radius: 5px;
  font-size: 12px;
}

.form-wrapper .form-parts .label-wrapper .must {
  background: #f58694;
}

.form-wrapper .form-parts .label-wrapper .free {
  background: #7fbfff;
}

.form-wrapper .form-parts .label-wrapper label {
  font-weight: bold;
}

/* フォーム部品 */
.form-wrapper .form-parts {
  /* エラーメッセージ */
  /* エラーメッセージ */
}

.form-wrapper .form-parts input[type="text"],
.form-wrapper .form-parts input[type="email"],
.form-wrapper .form-parts textarea {
  width: 100%;
  padding: 0.5em 1em;
  margin-bottom: 1.5em;
  border: 1px solid #d0d5d8;
  border-radius: 3px;
  font-size: 14px;
}

.form-wrapper .form-parts textarea {
  height: 200px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.form-wrapper .form-parts input[type="submit"] {
  -webkit-transition: all .4s;
  transition: all .4s;
  font-size: 14px;
}

.form-wrapper .form-parts input[type="submit"]:hover {
  cursor: pointer;
  background-color: #333;
  color: #fff;
}

.form-wrapper .form-parts .wpcf7 form .wpcf7-response-output {
  margin: 0;
  padding: 8px;
}

.form-wrapper .form-parts .wpcf7-list-item {
  margin: 0 auto;
  text-align: left;
}

.form-wrapper .form-parts p {
  text-align: center;
}

@media (min-width: 1025px) {
  .contact .form-wrapper {
    max-width: 800px;
    margin: 0 auto;
  }
  .contact .form-wrapper p {
    margin-bottom: 40px;
  }
  /* ラベル */
  .form-wrapper .form-parts .label-wrapper {
    /* マーク */
  }
  .form-wrapper .form-parts .label-wrapper .label {
    font-size: 14px;
  }
  /* フォーム部品 */
  .form-wrapper .form-parts input[type="text"],
  .form-wrapper .form-parts input[type="email"],
  .form-wrapper .form-parts textarea {
    font-size: 16px;
  }
  .form-wrapper .form-parts textarea {
    margin-bottom: 16px;
  }
  .form-wrapper .form-parts input[type="submit"] {
    font-size: 16px;
  }
  .form-wrapper .wpcf7-list-item {
    font-size: 1rem;
  }
  .form-wrapper p {
    font-size: 1.25rem;
  }
  .form-wrapper p br {
    display: none;
  }
}

/* エラーメッセージを見やすくする */
span.wpcf7-not-valid-tip,
.wpcf7-response-output.wpcf7-validation-errors {
  color: red;
  font-weight: 600;
  margin-bottom: 10px;
}

/* ------------------------------------ */
/*  */
/* ------------------------------------ */
/*# sourceMappingURL=styles.css.map */